.row 
  .col-md-6.text-center
    %h3
      = link_to @result.otp_viewable_request, target: :_blank do
        OTP Results
  .col-md-6.text-center
    %h3
      -if @result.compare_type == 'otp'
        = link_to @result.get_viewable_url(@result.compare_request), target: :_blank do
          OTP2 Results
      -elsif @result.compare_type == 'atis'
        ATIS Results



-itins.each_with_index do |itin, index|
  .div
    .row
      -itin.each do |i|
        .col-md-6
          -unless i.nil?
            .col-md-12.text-center
              .h4
                =image_tag(image_url("ped.svg"), size: "18x18")
                ="#{(i[:walk_time]/60.0).round} | "
                %i.fa.fa-times
                ="#{i[:transfers]} | "
                %i.fa.fa-clock-o
                ="#{(i[:duration]/60.0).round}"
              .h4
                -i[:routes].each do |route|
                  =route

    .row 

      //Show OTP Legs
      .col-md-6.text-center
        -unless itin.first.nil?
          .row.detail
            ="Depart: #{otp_time_str(itin.first[:start_time])}"
          .row
            .col-md-3
            .col-md-6
              %hr 
          -itin.first[:legs].each_with_index do |leg, index|
            -unless leg['mode'] == 'WALK'
              .div.text-center
                .row.detail
                  ="#{otp_time_str(leg['startTime'])} to #{otp_time_str(leg['endTime'])}"
                .row
                  ="Route: #{leg['route']} #{leg['headsign']}"
                .row
                  ="From #{leg['from']['name']} to #{leg['to']['name']}" 
              .row
                .col-md-3
                .col-md-6
                  %hr 

          .row.detail
            ="Arrive: #{otp_time_str(itin.first[:end_time])}"


      //Show ATIS
      -if @result.compare_type == 'atis'
        .col-md-6.text-center
          -unless itin.last.nil?
            .row.detail
              ="Depart: #{atis_time_str(itin.last[:start_time])}"
            .row
              .col-md-3
              .col-md-6
                %hr

            -itin.last[:legs].each_with_index do |leg, index|
              .div.text-center
                .row.detail
                  ="#{atis_time_str(leg['Ontime'])} to #{atis_time_str(leg['Offtime'])}"
                .row
                  ="Route: #{leg['Service']['Route']} #{leg['Service']['Sign']}"
                .row
                  ="From #{leg['Onstop']} to #{leg['Offstop']}"

              .row
                .col-md-3
                .col-md-6
                  %hr
            .row.detail
              ="Arrive: #{atis_time_str(itin.last[:end_time])}"
      - elsif @result.compare_type == 'otp'
        //Show OTP Legs
        .col-md-6.text-center
          -unless itin.last.nil?
            .row.detail
              ="Depart: #{otp_time_str(itin.last[:start_time])}"
            .row
              .col-md-3
              .col-md-6
                %hr
            -itin.last[:legs].each_with_index do |leg, index|
              -unless leg['mode'] == 'WALK'
                .div.text-center
                  .row.detail
                    ="#{otp_time_str(leg['startTime'])} to #{otp_time_str(leg['endTime'])}"
                  .row
                    ="Route: #{leg['route']} #{leg['headsign']}"
                  .row
                    ="From #{leg['from']['name']} to #{leg['to']['name']}"
                .row
                  .col-md-3
                  .col-md-6
                    %hr

            .row.detail
              ="Arrive: #{otp_time_str(itin.last[:end_time])}"


  -unless index == (itins.count - 1)
    .col-md-1
    .col-md-10
      %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}

%br
%br  
