%h3.text-center
  ="From "
  = link_to "https://www.google.com/maps/?q=#{@result.trip.origin_lat},#{@result.trip.origin_lng}", target: :_blank do
    =@result.trip.origin
  =" to "
  = link_to "https://www.google.com/maps/?q=#{@result.trip.destination_lat},#{@result.trip.destination_lng}", target: :_blank do
    =@result.trip.destination
%h4.text-center
  =@result.trip.arrive_by ? "Arriving by #{(@result.trip_time||@result.trip.time).in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}" : "Departing at #{(@result.trip_time||@result.trip.time).in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"

.row
  =render partial: "full_itin_summary", locals: {itins: @full_summary}

%hr
.h2.text-center
  Debugging Info

.row
  .col-md-6
    %h4.text-center
      Raw OTP Request
    %pre
      %code
        =@result.otp_request
  .col-md-6
    %h4.text-center
      = "Raw #{@result.comparison_service_name} Request"
    %pre
      %code
        =@result.compare_request

.row
  .col-md-6
    %h4.text-center
      Raw OTP Response
    %pre
      %code
        =JSON.pretty_generate(@result.otp_response)
  .col-md-6
    %h4.text-center
      = "Raw #{@result.comparison_service_name} Response"
    %pre
      %code
        -if @result.compare_type == 'atis'
          =@result.compare_response
        -else
          =JSON.pretty_generate(@result.compare_response)




