%h3.text-center
  ="From "
  = link_to "https://www.google.com/maps/?q=#{@result.trip.origin_lat},#{@result.trip.origin_lng}", target: :_blank do
    =@result.trip.origin
  =" to "
  = link_to "https://www.google.com/maps/?q=#{@result.trip.destination_lat},#{@result.trip.destination_lng}", target: :_blank do
    =@result.trip.destination
%h4.text-center
  =@result.trip.arrive_by ? " arriving by #{@result.trip.time.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}" : " departing at #{@result.trip.time.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"
.row 
  .col-md-6
    .row.text-center
      %h3
        = link_to @result.otp_viewable_request, target: :_blank do
          OTP Results
  .col-md-6
  .row.text-center
    %h3
      ATIS Results

.row
  =render partial: "full_itin_summary", locals: {itins: @full_summary}



