<head>
    <meta charset="UTF-8">
    <title>Staion Viewer</title>

<!--    <script type="text/javascript" src="../../assets/javascripts/vis.js"></script>-->
<!--    <link href="../../assets/stylesheets/vis-network.min.css" rel="stylesheet" type="text/css" />-->

  <script type="text/javascript" src="../javascripts/visjs/vis-network.js"></script>


    <style type="text/css">
      #mynetwork {
        height: 600px;
        height: 1000px;
        border: 1px solid lightgray;
      }
    </style>

</head>
<body>
<div class="col-md-3">
  <%#= collection_select :stop_id, nil, @stops, :id, :name, include_blank: true %>
  <div>
    Station Id: <%= text_field(:station_id, size: 25)  %>
  </div>
  <div>
    Date: <%= date_field(:date, :otp_date)  %>
  </div>
  <div>
    Time: <%= time_field(:time, :started_at)  %>
  </div>

</div>
<div class="col-md-9">
    <h3 class="text-center"><%= @station.station_name %></h3>
    <div id="mynetwork"></div>


</div>

<div class="col-md-12">Alerts go here?????</div>
</body>


<script type="text/javascript">
    // create an array with nodes
    var station = <%= @station.to_json.html_safe %>;

    var nodes_for_visualization = [];
    var edges_for_visualization = [];

    console.log(station);

    station.nodes.forEach(function(element) {
        console.log(element);

        nodes_for_visualization.push({id: element.id, label: element.label+' '+element.type})
    });
    console.log(nodes_for_visualization);

    station.links.forEach(function(element) {
        console.log(element);

        edges_for_visualization.push({from: element.source, to: element.destination})
    });
    console.log(edges_for_visualization);

    var nodes = new vis.DataSet(nodes_for_visualization);

    // create an array with edges
    var edges = new vis.DataSet(edges_for_visualization);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};

    // initialize your network!
    var network = new vis.Network(container, data, options);


</script>