=content_for :title do
  Configuration

.row
  .col-md-2
  .col-md-8
    =simple_form_for Config,
      url: admin_configs_path,
      html: { class: 'form-horizontal', 
              id: 'otp', 
              multipart: true, 
              method: 'patch' },
      authenticity_token: true do |f|
      .panel.panel-primary
        .panel-heading
          %h4
            = "Open Trip Planner Configs"
        .panel-body.panel-primary
          = f.input :otp_url, required: true,
            label: "URL of the Open Trip Planner Server",
            input_html: {value: @configs.find_by(key: :otp_url).try(:value)},
            as: :string
        .panel-footer.panel-primary.text-center
          = f.button :submit, "OK", class: 'btn action-button btn-primary', role: 'button'

.row
  .col-md-2
  .col-md-8
    =simple_form_for Config,
      url: admin_configs_path,
      html: { class: 'form-horizontal', 
              id: 'atis', 
              multipart: true, 
              method: 'patch' },
      authenticity_token: true do |f|
      .panel.panel-primary
        .panel-heading
          %h4
            = "ATIS Configs"
        .panel-body.panel-primary
          = f.input :atis_url, required: true,
            label: "URL of the ATIS Server",
            input_html: {value: @configs.find_by(key: :atis_url).try(:value)},
            as: :string
          = f.input :atis_app_id, required: true,
            label: "ATIS App Id",
            input_html: {value: @configs.find_by(key: :atis_app_id).try(:value)},
            as: :string
        .panel-footer.panel-primary.text-center
          = f.button :submit, "OK", class: 'btn action-button btn-primary', role: 'button'

.row
  .col-md-2
  .col-md-8
    =simple_form_for Config,
      url: admin_config_atis_otp_mapping_path,
      html: { class: 'form-horizontal', 
              id: 'atis_otp', 
              multipart: true, 
              method: 'patch' },
      authenticity_token: true do |f|
      .panel.panel-primary
        .panel-heading
          %h4
            = "ATIS OTP Mapping"
        .panel-body.panel-primary
          =@configs.find_by(key: :atis_otp_mapping).try(:value)
        .panel-footer.panel-primary.text-center
          = f.button :submit, "OK", class: 'btn action-button btn-primary', role: 'button'

