=content_for :header do
  ="Run a New Test"
=content_for :body do
  .col-md-6
    %h4.text-center
      OTP Settings
    .row
      .col-md-6.detail.text-right
        Walk Speed (m/s)
      .col-md-6.text-left
        = f.input :otp_walk_speed, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Max Walk Distance (m)
      .col-md-6.text-left
        = f.input :otp_max_walk_distance, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Walk Reluctance (Multiplier)
      .col-md-6.text-left
        = f.input :otp_walk_reluctance, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Transfer Penalty (s)
      .col-md-6.text-left
        = f.input :otp_transfer_penalty, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Accessible?
      .col-md-6.text-left
        = f.input :otp_accessible, collection: [false, true], label: false, include_blank: false

  .col-md-6
    %h4.text-center
      ATIS Settings
    .row
      .col-md-6.detail.text-right
        Walk Speed (m/s)
      .col-md-6.text-left
        = f.input :atis_walk_speed, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Max Walk Distance (m)
      .col-md-6.text-left
        = f.input :atis_walk_dist, label: false, :as => :integer
    .row
      .col-md-6.detail.text-right
        Minimize
      .col-md-6.text-left
        = f.input :atis_minimize, label: false, collection: ['X', 'T', 'W'], include_blank: false
    .row
      .col-md-6.detail.text-right
        Accessible?
      .col-md-6.text-left
        = f.input :atis_accessible, collection: [false, true], label: false, include_blank: false