=content_for :title do
  =@group.name
%h4.text-center
  =@group.comment

%h3
  Tests

.row
  .col-md-12
    %table.table.table-hover#test-table
      %thead.thead-default
        %tr
          %th Time
          
      -@group.tests.each do |test|
        %tr{style: "cursor: pointer", data: {url: admin_test_path(test)}}
          %td
            =test.created_at

.row.text-center
  %h4
    = link_to run_test_admin_group_path(@group) do
      ="Run Test"

%h3
  Trips

=simple_form_for @group, url: admin_group_path(@group), html: {class: 'form-horizontal', multipart: true, method: :patch }, authenticity_token: true do |f|
  ="Upload Trips"
  = f.input "file", required:true, label: "Upload CSV", :as => :file
  = f.button :submit

.row
  .col-md-12
    %table.table.table-hover#trip-table
      %thead.thead-default
        %tr
          %th Origin
          %th Lat,Lng
          %th Destination
          %th Lat,Lng
          %th Time
          %th Arrive By?

          
      -@group.trips.each do |trip|
        %tr
          %td
            =trip.origin
          %td
            = link_to "https://www.google.com/maps/?q=#{trip.origin_lat},#{trip.origin_lng}", target: :_blank do
              ="#{trip.origin_lat},#{trip.origin_lng}" 
          %td
            =trip.destination
          %td
            = link_to "https://www.google.com/maps/?q=#{trip.destination_lat},#{trip.destination_lng}", target: :_blank do
              ="#{trip.destination_lat},#{trip.destination_lng}" 
          %td
            =trip.time
          %td
            =trip.arrive_by

:javascript
  $(document).ready(function() {
  

    $('#test-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });
  });

