=content_for :title do
  =@group.name
%h4.text-center
  =@group.comment

.row
  .col-md-3
  .col-md-6
    %h3.text-center
      Tests
    .row
      .col-md-12
        %table.table.table-hover#test-table
          %thead.thead-default
            %tr
              %th Number
              %th Time
              %th Trips Tested
              %th Summary
              %th 
              
          -@group.tests.order(:created_at).each do |test|
            %tr{style: "cursor: pointer", data: {url: admin_test_path(test)}}
              %td
                =test.id
              %td
                =test.created_at.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')
              %td
                =test.results.count
              %td
                ="#{(test.get_percent_matched*100).round(2)}% Matching"
              %td.text-right
                =link_to "Delete", admin_test_path(test), 
                  method: :delete, 
                  class: "btn btn-sm btn-danger", 
                  data: {confirm: "Are you sure?  This action cannot be undone!"}
.row
  .col-md-12.text-center
    %h4
      = link_to run_test_admin_group_path(@group) do
        ="Run Test"

.row
  .col-md-1
  .col-md-10
    %hr
.row
  %h3.text-center
    Trips

.row
  .col-md-1
  .col-md-10
    %table.table.table-hover#trip-table
      %thead.thead-default
        %tr
          %th Origin
          %th Lat,Lng
          %th Destination
          %th Lat,Lng
          %th Time
          %th Arrive By?
          %th

          
      -@group.trips.each do |trip|
        %tr
          %td
            =trip.origin
          %td
            = link_to "https://www.google.com/maps/?q=#{trip.origin_lat},#{trip.origin_lng}", target: :_blank do
              ="#{trip.origin_lat},#{trip.origin_lng}" 
          %td
            =trip.destination
          %td
            = link_to "https://www.google.com/maps/?q=#{trip.destination_lat},#{trip.destination_lng}", target: :_blank do
              ="#{trip.destination_lat},#{trip.destination_lng}" 
          %td
            =trip.time.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')
          %td
            =trip.arrive_by
          %td.text-right
            =link_to "Delete", admin_trip_path(trip), 
              method: :delete, 
              class: "btn btn-sm btn-danger", 
              data: {confirm: "Are you sure?  This action cannot be undone!"}

.row
  .col-md-2
  .col-md-8
    = simple_form_for @new_trip, url: admin_trips_path, html: {class: 'form-horizontal', multipart: true, method: :post }, authenticity_token: true do |f|
      =render partial: '/admin/tests/new_test', layout: '/layouts/new_record_panel', locals: {f: f}

.row
  .col-md-4
  .col-md-4.text-center
    .well
      =simple_form_for @group, url: admin_group_path(@group), html: {class: 'form-vertical', multipart: true, method: :patch }, authenticity_token: true do |f|
        %h3
          ="Upload Trips"
        = f.input "file", required:true, label: "Upload CSV", :as => :file
        %br
        %br
        = f.button :submit

.row
  .col-md-12.text-center
    %h4
      = link_to geocode_admin_group_path(@group) do
        ="Geocode"

:javascript
  $(document).ready(function() {
  

    $('#test-table tbody tr').click(function() {
      window.location = $(this).data("url");
    });
  });

