.col-md-1
.col-md-10
  -itins.each_with_index do |itin, index|
    .row
      .col-md-12.text-center
        .h4
          =image_tag(image_url("ped.svg"), size: "18x18")
          ="#{(itin[:walk_time]/60.0).round} | "
          -unless itin[:drive_time].nil? or itin[:drive_time] == 0
            %i.fa.fa-car
            ="#{(itin[:drive_time]/60.0).round} | "
          -unless itin[:bike_time].nil? or itin[:bike_time] == 0
            %i.fa.fa-bicycle
            ="#{(itin[:bike_time]/60.0).round} | "
          %i.fa.fa-times
          ="#{itin[:transfers]} | "
          %i.fa.fa-clock-o
          ="#{(itin[:duration]/60.0).round}"
        .h4
          -itin[:routes].each do |route|
            =route
        %div.small-detail
          (
          -itin[:route_ids].each do |route|
            =route
          )


    -unless index == (itins.count - 1)
      %hr      
