=content_for :title do
  =@test.comment
%h5.text-center
  ="Run at: #{@test.created_at.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"

.row
  .col-md-1
  .col-md-10
    -@test.results.each do |result|
      .row
        %div.panel.panel-default
          %div.panel-heading.text-center
            ="From "
            = link_to "https://www.google.com/maps/?q=#{result.trip.origin_lat},#{result.trip.origin_lng}", target: :_blank do
              =result.trip.origin
            =" to "
            = link_to "https://www.google.com/maps/?q=#{result.trip.destination_lat},#{result.trip.destination_lng}", target: :_blank do
              =result.trip.destination
            =result.trip.arrive_by ? " arriving by #{result.trip.time.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}" : " departing at #{result.trip.time.in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"

          %div.panel-body
            .row 
              .col-md-4
                .row.text-center
                  = link_to result.otp_viewable_request, target: :_blank do
                    OTP Results
                .row
                  -result.otp_summary.each do |itin|
                    .row
                      .col-md-6.text-center
                        =image_tag("/assets/ped.svg", size: "14x14")
                        ="#{(itin[:walk_time]/60.0).round} "
                        %i.fa.fa-times
                        ="#{itin[:transfers]} "
                        %i.fa.fa-clock-o
                        ="#{(itin[:duration]/60.0).round}"
                      .col-md-6
                        .row
                          ="Depart: #{Time.at(itin[:start_time].to_i/1000).in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"
                        .row
                          ="Arrive: #{Time.at(itin[:end_time].to_i/1000).in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"

              .col-md-4.text-center
                .row.text-center
                  ATIS Results
                .row
                  -result.atis_summary.each do |itin|
                    .row
                      .col-md-6.text-center
                        =image_tag("/assets/ped.svg", size: "14x14")
                        ="#{(itin[:walk_time]/60.0).round} "
                        %i.fa.fa-times
                        ="#{itin[:transfers]} "
                        %i.fa.fa-clock-o
                        ="#{(itin[:duration]/60.0).round}"
                      .col-md-6
                        .row
                          ="Depart: #{Time.at(itin[:start_time].to_i/1000).in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"
                        .row
                          ="Arrive: #{Time.at(itin[:end_time].to_i/1000).in_time_zone.strftime('%m-%d-%Y %l:%M %p %Z')}"
              .col-md-4.text-center
                .row.text-center
                  Comparison
                .row
                  -result.compare_summary.each do |k, v|
                    .row
                      .col-md-1
                      .col-md-10
                        -if v == "inf" 
                          .well.well-sm.bad 
                            %h4  
                              =k.to_s.humanize
                              =v.round(3)
                        -elsif v <= 1.1
                          .well.well-sm.good
                            %h4
                              =k.to_s.humanize
                              =v.round(3)
                        -elsif v <= 1.25
                          .well.well-sm.ok
                            %h4
                              =k.to_s.humanize
                              =v.round(3)
                        -else
                          .well.well-sm.bad 
                            %h4  
                              =k.to_s.humanize
                              =v.round(3)






